<div style="margin-top: 5% !important;" class="container">
    <div class="row">
         <div class="col-lg-3">
            <ul class="list-group">
                <!-- <li style="color: black !important;" class="list-group-item d-flex justify-content-between align-items-center">
                  Search Keyword
                  <span class="badge badge-primary badge-pill">{{extData.keyword}}</span>
                </li>
                <li style="color: black !important;"  class="list-group-item d-flex justify-content-between align-items-center">
                    Search Time
                    <span class="badge badge-primary badge-pill">{{extData.date | date: 'dd/MM/yyyy'}}</span>
                  </li> -->
                <li style="color: black !important;"  class="list-group-item d-flex justify-content-between align-items-center">
                  Search Count
                  <span class="badge badge-primary badge-pill">{{newsUpdated.totalResults}}</span>
                </li>
              </ul>
        </div> 
        <div class="col-lg-9">
            <div *ngFor="let item of newsUpdated.articles" class="card text-left">
              <img class="card-img-top" src="{{item.urlToImage}}" alt="">
              <div class="card-body">
                <h4 class="card-title">{{item.title}}</h4>
                <p class="card-text">{{item.publishedAt | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text"><a href="{{item.url}}" target="blank">READ MORE</a></p>
              </div>
            </div>
        </div>

    </div>
</div>